body {
  background-color: white;
  background-image: linear-gradient(to right, white, #00b8e6);
  font-family: "Plus Jakarta Text", "sans-serif";
  margin: 0px;
}

.topnav {
  overflow: hidden;
  background-color: #001a4d;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: white;
  color: #001a4d;
}

.name {
  text-align: right;
  color: #001a4d;
}

.pic {
  float: right;
  width: 30%;
  border-radius: 100%;
  border: 5px #001a4d solid;
}

.about {
  font-family: "sans serif";
  font-size: 50px;
  text-align: center;
  color: #001a4d;
}

li {
  font-family: "sans serif";
  padding-top: 10px;
  font-size: 30px;
  background-image: linear-gradient(to right, #00b8e6, white);
  margin-bottom: 15px;
  list-style-position: inside;
  margin-left: -40px;
  color: #001a4d;
  border-radius: 24px;
}

footer {
  background-color: #001a4d;
  margin-top: 20px;
  text-align: center;
  color: white;
}

button {
  text-align: center;
  width: 300px;
  height: 52px;
  font-size: 20px;
  background-color: #001a4d;
  color: white;
  margin: 5px;
  border-radius: 30px;
}

button:hover {
  background-color: white;
  color: #001a4d;
}

form {
  text-align: center;
}

label{
	display: inline-block;
}

table{
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

td{
  padding: 10px 0px 10px 0px;
}
h2{
  color: #001a4d;
  font-size: 30px;
}


#button{
  width: 100px;
  border-radius: 15px;
  background-color: #001a4d;
  color: white;
  border: 2px white solid;
  padding: 5px;
  font-weight: 700;
}

#button:active{
  background-color: #00b8e6;
  color: #001a4d;
}